<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="//unpkg.com/string-similarity/umd/string-similarity.min.js"></script>
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/list.css">
    <link rel="stylesheet" href="./css/search.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>SellIt!</title>
</head>
<body style="background-color: #000;">

    
    
<!--Navbar-->
<nav class="navbar navbar-expand-sm navbar-dark shadow " style="background-color: rgba(0,0,0,1);" >
    <ul class="navbar-nav">
      <li class="nav-item active">
        <img src="./images/signin.png" class="img-fluid" style="width: 40px; height: 40px; overflow: hidden;">
      </li>
      <li class="nav-item active nav-link">
        Rocket League Auctions  
      </li>
      <li class="nav-item active" style="margin-left: 650px;">
        <a class="nav-link" href="/list">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add">Add Item</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Help">Help</a>
      </li>
      <form action="/search" method="POST">
        
          <select class="floatLabel" name="category" style="margin-left: 40px; margin-top: 7.8px;">
            <option value="blank"></option>
            <option value="Car">Car</option>
            <option value="Wheels">Wheels</option>
            <option value="Goal Explosion">Goal Explosion</option>
            <option value="Boost">Boost</option>
            
          </select>
          <button type="submit" class="btn-primary">Submit</button>
      </form>
    </ul>
   
  </nav>
<!--CSS-->

<!--Description-->
<div class="container-fluid text-center" id="searchBox">

    <div class="form col-xs-12">   
      <form action="/search2" method="POST">
        <input class="col-xs-9" id="searchBar" type="text" placeholder="Search" name="query" autocomplete="off">
        <button type="submit"><span class="fa fa-search"></span></button>
      </form>
       
      </div>
    </div>
  </div> 
<div class="listbox">
  <div class="desc">
      <h2 class="pdesc" style="font-size: x-large;">"<%= query  %> "</h2>
  </div>
  
    <% if(data != null){  %> 
    <% for( var key of Object.keys(data)) { %> 

      <% if(stringSimilarity.compareTwoStrings(data[key]["name"], query)>0.3 && data[key]["status"]==1) {%> 
        
      <div class="courses-container">
        <div class="course">
          <div class="course-preview">
            <h6>Item name</h6>
            <h2><%= data[key]["name"] %></h2>
            <a>Seller: <%= data[key]["poster"] %> <i class="fas fa-chevron-right"></i></a>
          </div>
          <div class="course-info">
            <h6>Item Details</h6>
            <h2>Description: <%= data[key]["info"] %></h2>
            <h2>Highest Bid: <%= data[key]["cprice"] %><img src= "https://www.aoeah.com/images/rocket%20league/items/PS4-Credits.png" width=18px></h2>
            <a href=<%= "/list/" + key %>   class="anchorProduct">
              <button class="vbtn">View more</button>
            </a>
          </div>
        </div>
      </div>

    <% } %>
    <% } %> 
    <% } %> 
    <% if(data === null){ %>
      <div class="desc"><p class="pdesc">No Items Are Up For Auction at the Moment</p></div>
    <% } %>  


</div>




</body>
</html>